/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main */

* {
	box-sizing: border-box;
}

.wrapper {
	padding: 50px 40px;
}

.cards-container {
  /*margin: -2% -2% 0;*/
}

.photo-card {
	position: relative;
  display: inline-block;
  margin: 2%;
  width: 29%;
	box-shadow: 0 3px 8px rgba(0,0,0,.5);
}
@media (max-width: 1009px) {
	.photo-card {
		width: 45%;
	}
}
@media (max-width: 780px) {
	.photo-card {
		width: 95%;
	}
}

.photo {
	margin: 10px;
	height: 200px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
